* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.main {
    position: relative;
    width: 500px;
    height: 450px;
    border: 1px solid black;
    padding: 10px;
    /*    display: flex;*/
    /*    flex-direction: column;*/
    /*    justify-content: space-between;*/
}

header {
    text-align: center;
}

header h1 {
    font-weight: normal;
}

header p {
    color: red;
}

.display-none {
    display: none;
}

.add-new {
    border-bottom: 2px solid black;
    padding: 10px;
    /*    margin-bottom: 10px;*/
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-input {
    flex-grow: 1;
    border: 1px solid black;
    padding: 2px 5px;
}

button {
    background: none;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 10px;
}

ul li {
    display: flex;
    align-items: center;
    cursor: move;
    margin-bottom: 5px;
/*    user-select: none;*/
}

.remove {
    margin-left: auto;
}

footer {
    display: flex;
    justify-content: center;
}

.cat-pad {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
}

[disable] {
    cursor: not-allowed;
}

span {
    margin-left: 5px;
    user-select: none;
    pointer-events:none;
}

.li.over {
  border-top: 2px solid black;
}